/* # FONT */
@font-face {
  font-family: eduTasBeginner;
  src: url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap");
  font-weight: bold;
}

.edu-tas-beginner {
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* # SFONDO*/
.sfondo {
  height: 150px;
}

/* # OVERLAY */
#overlay {
  position: fixed; /* Sit on top of the page content */

  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#button {
  margin-left: 45%;
}

/* ! HOVER */
#picture:hover {
  cursor: pointer;
  transform: rotate(25deg);
  transition: 300ms;
  z-index: 1;
  transform-origin: 50% 5%;
}

#pin {
  position: absolute;
  width: 40px;
  margin-left: 45%;
  margin-top: -15px;
}
